body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1{
	font-family:FontAwesome;
}

hr {
    width: 500px;
}

#title {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
}

#board {
    width: 350px;
    height: 420px;
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    /* Box */
    border: 2px solid lightgray;
    width: 60px;
    height: 60px;
    margin: 2.5px;

    /* Text */
    color: black;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.correct {
    background-color: #6AAA64;
    color: white;
    border-color: white;
}

.present {
    background-color: #C9B458;
    color: white;
    border-color: white;
}

.absent {
    background-color: #787C7E;
    color: white;
    border-color:white;
}

.hiddenDivs{
	display:none;
}

.keyboard-row {
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.key-tile {
    width: 36px;
    height: 40px;
    margin: 1px;
    border: 1px solid lightgray;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enter-key-tile {
    width: 76px;
    height: 40px;
    margin: 1px;
    border: 1px solid lightgray;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hiddenDivs{
	display:none;
}

.grid-container{
	display:grid;
	grid-template-columns: repeat(12,8.33fr);
	grid-template-rows:repeat(12,8.33fr);
	justify-content:start;
	height:100vh;
	width:100%;
	border:1pt solid white;
	position:absolute;
	top:0%;
	left:0%;
}


#winningDiv{
	border:4pt solid black;
	display:grid;
	background-color:green;
	opacity:0.7;
	grid-column-start:5;
	grid-column-end:9;
	grid-row-start:3;
	grid-row-end:7;
	justify-content:center !important;
	align-items:center !important;
	flex-wrap:wrap;
	grid-template-columns:repeat(4,25fr);
	grid-template-rows:repeat(5,20fr);
}

#losingDiv{
	border:4pt solid black;
	display:none;
	background-color:orange;
	opacity:0.7;
	grid-column-start:5;
	grid-column-end:9;
	grid-row-start:3;
	grid-row-end:7;
	justify-content:center !important;
	align-items:center;
	flex-wrap:wrap;
}

#newGameButton{
	position:absolute;
	top:80%;
	left:0%;
	height:20% !important;
	width:50%;
	background-color:black;
	opacity:0.7;
	border:3pt solid white;
	border-radius:5%;
	color:white;
	text-align:center;
}

#closeButton{
	position:absolute;
	top:80%;
	left:50%;
	width:50%;
	height:20% !important;
	background-color:black;
	border:3pt solid white;
	border-radius:5%;
	color:white;
	opacity:0.7;
	text-align:center;
}

#answer{
	position:absolute;
	top:30%;
	left:35%;
}

#wordMessage{
	position:absolute;
	top:0%;
	left:15%;
}

.col1{
	grid-column-start:1;
	grid-column-end:2;
	border:1pt solid black;
	grid-row-start:1;
	grid-row-end:13;
}

.col2{
	grid-column-start:2;
	grid-column-end:3;
	border:1pt solid black;
	grid-row-start:1;
	grid-row-end:13;
}

.col3{
	grid-column-start:3;
	grid-column-end:4;
	border:1pt solid black;
	grid-row-start:1;
	grid-row-end:13;
}

.col4{
	grid-column-start:4;
	grid-column-end:5;
	border:1pt solid black;
	grid-row-start:1;
	grid-row-end:13;
}

.col5{
	grid-column-start:5;
	grid-column-end:6;
	border:1pt solid black;
	grid-row-start:1;
	grid-row-end:13;
}

.col6{
	grid-column-start:6;
	grid-column-end:7;
	border:1pt solid black;
	grid-row-start:1;
	grid-row-end:13;
}

.col7{
	grid-column-start:7;
	grid-column-end:8;
	border:1pt solid black;
	grid-row-start:1;
	grid-row-end:13;
}

.col8{
	grid-column-start:8;
	grid-column-end:9;
	border:1pt solid black;
	grid-row-start:1;
	grid-row-end:13;
}

.col9{
	grid-column-start:9;
	grid-column-end:10;
	border:1pt solid black;
	grid-row-start:1;
	grid-row-end:13;
}

.col10{
	grid-column-start:10;
	grid-column-end:11;
	border:1pt solid black;
	grid-row-start:1;
	grid-row-end:13;
}

.row1{
	grid-column-start:1;
	grid-column-end:13;
	grid-row-start:1;
	grid-row-end:2;
	border:1pt solid black;
}

.row2{
	grid-column-start:1;
	grid-column-end:13;
	grid-row-start:2;
	grid-row-end:3;
	border:1pt solid black;
}

.row3{
	grid-column-start:1;
	grid-column-end:13;
	grid-row-start:3;
	grid-row-end:4;
	border:1pt solid black;
}

.row4{
	grid-column-start:1;
	grid-column-end:13;
	grid-row-start:4;
	grid-row-end:5;
	border:1pt solid black;
}

.row5{
	grid-column-start:1;
	grid-column-end:13;
	grid-row-start:5;
	grid-row-end:6;
	border:1pt solid black;
}

.row6{
	grid-column-start:1;
	grid-column-end:13;
	grid-row-start:6;
	grid-row-end:7;
	border:1pt solid black;
}

.row7{
	grid-column-start:1;
	grid-column-end:13;
	grid-row-start:7;
	grid-row-end:8;
	border:1pt solid black;
}

.row8{
	grid-column-start:1;
	grid-column-end:13;
	grid-row-start:8;
	grid-row-end:9;
	border:1pt solid black;
}

.row9{
	grid-column-start:1;
	grid-column-end:13;
	grid-row-start:9;
	grid-row-end:10;
	border:1pt solid black;
}

.row10{
	grid-column-start:1;
	grid-column-end:13;
	grid-row-start:10;
	grid-row-end:11;
	border:1pt solid white;
}

@media only screen and (min-width:1224px){
	#winningDiv{
		position:relative;
		border:4pt solid black;
		display:none;
		background-color:green;
		opacity:0.7;
		grid-column-start:5 !important;
		grid-column-end:9 !important;
		grid-row-start:4 !important;
		grid-row-end:10 !important;
		justify-content:center !important;
		align-items:center !important;
		flex-wrap:wrap;
	}

	#losingDiv{
		position:relative;
		border:4pt solid black;
		display:none;
		background-color:orange;
		opacity:0.7;
		grid-column-start:5 !important;
		grid-column-end:9 !important;
		grid-row-start:4 !important;
		grid-row-end:9 !important;
		justify-content:center !important;
		align-items:center;
		flex-wrap:wrap;
	}
	
}

@media only screen and (min-width:1824px){
	
	#winningDiv{
		position:fixed;
		border:4pt solid black;
		display:none;
		background-color:green;
		opacity:0.7;
		grid-column-start:5 !important;
		grid-column-end:9 !important;
		grid-row-start:3 !important;
		grid-row-end:7 !important;
		justify-content:center !important;
		align-items:center !important;
		flex-wrap:wrap;
	}

	#losingDiv{
		border:4pt solid black;
		display:none;
		background-color:orange;
		opacity:0.7;
		grid-column-start:5 !important;
		grid-column-end:9 !important;
		grid-row-start:3 !important ;
		grid-row-end:7 !important;
		justify-content:center !important;
		align-items:center;
		flex-wrap:wrap;
	}
	
}